#header {
  height: 20vh;
  background-color: red;
  align-items: baseline;
}
#header #logo-head {
  text-align: center;
  margin-bottom: 2px;
}
#header .input-group {
  width: 50%;
  align-items: center;
}
#header #carrito {
  height: 28px;
  margin-left: 2px;
}
#header #carrito:hover {
  background-color: rgba(193, 196, 253, 0.566);
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  border-radius: 3px;
}
#header #login {
  height: 28px;
  margin-left: 2px;
}
#header #login:hover {
  background-color: rgba(193, 196, 253, 0.566);
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  border-radius: 3px;
  border-radius: 11px;
}
#header .nav-link {
  color: white !important;
  padding: 0;
  margin: 5px;
}
#header .nav-link:hover {
  background-color: rgba(193, 196, 253, 0.566);
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  border-radius: 3px;
}

.navbar {
  font-family: Verdana;
  color: white !important;
  z-index: 9;
  border-radius: 7px;
}

#buscar {
  height: 28px;
}
#buscar:hover {
  background-color: rgba(193, 196, 253, 0.566);
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  border-radius: 3px;
}

#main {
  background: linear-gradient(354deg, rgb(247, 53, 53) 1%, rgb(134, 137, 255) 40%, rgb(247, 53, 53) 100%);
}
#main section div #carrousel {
  height: 475px;
  display: flex;
  align-items: center;
}
#main section .row .card-index {
  background-color: rgba(255, 255, 255, 0.5098039216);
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#main section .row .card-index:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#main section .row .card-index .card-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main section .row .card-index .card-sect .btn-index {
  height: 46px;
  color: #fff;
  background-color: red;
  border-color: red;
}
#main section .row .card-index .card-sect .btn-index:hover {
  color: rgb(134, 137, 255);
  box-shadow: none;
}

.card-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-sect .card-tienda {
  border: 4px dotted #f04d11;
  background-color: rgba(255, 255, 255, 0.6117647059);
}
.card-sect .card-tienda .card-img-top {
  width: 80%;
  min-height: 300px;
  max-height: 300px;
}
.card-sect .card-tienda .card-img-top:hover {
  transform: scale(1.25);
  transition-delay: 0.25s;
  transition-duration: 1s;
}
.card-sect .card-tienda .text-card {
  font-family: Verdana;
  font-size: large;
}
.card-sect .card-tienda .text-card .btn-tienda {
  font-family: verdana;
  font-size: large;
  color: #fff;
  background-color: #f04d11;
  border-color: #f04d11;
  border-radius: 5px;
}
.card-sect .card-tienda .text-card .btn-tienda:hover {
  -webkit-animation-name: tada;
          animation-name: tada;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.img-ctral {
  width: 400px;
  height: 350px;
  margin: 10px;
  background-color: red;
  border: 0;
}

.text-hist {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.646);
  border-radius: 7px;
}

#main .row section .text-head-map {
  font-family: Verdana;
  font-weight: 500;
  font-size: medium;
  border-radius: 5px;
  padding-right: 2px;
  font-weight: 700;
  color: white;
  margin-left: 14px;
}
#main .row section nav .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}
#main .row section nav .nav-tabs #nav-omnibus-tab {
  background-color: rgba(243, 97, 97, 0.68);
  font-family: Verdana;
  font-weight: 500;
  font-size: medium;
  border-radius: 5px;
  padding-right: 2px;
}
#main .row section nav .nav-tabs #nav-omnibus-tab .icon-tab {
  width: 30px;
  height: 30px;
}
#main .row section nav .nav-tabs #nav-tren-tab {
  background-color: rgba(63, 63, 250, 0.626);
  font-family: Verdana;
  font-weight: 500;
  font-size: medium;
  border-radius: 5px;
  padding-right: 2px;
}
#main .row section nav .nav-tabs #nav-tren-tab .icon-tab {
  width: 30px;
  height: 30px;
}
#main .row section nav .nav-tabs #nav-a-pie-tab {
  background-color: rgba(242, 165, 247, 0.6117647059);
  font-family: Verdana;
  font-weight: 500;
  font-size: medium;
  border-radius: 5px;
  padding-right: 2px;
}
#main .row section nav .nav-tabs #nav-a-pie-tab .icon-tab {
  width: 30px;
  height: 30px;
}
#main .row section div #nav-omnibus {
  background-color: rgba(243, 97, 97, 0.55);
  font-family: Verdana;
  font-style: italic;
  color: white;
  border-radius: 7px;
  padding-left: 5px;
  padding-top: 5px;
}
#main .row section div #nav-tren {
  background-color: rgba(63, 63, 250, 0.626);
  font-family: Verdana;
  font-style: italic;
  color: white;
  border-radius: 7px;
  padding-left: 5px;
  padding-top: 5px;
}
#main .row section div #nav-a-pie {
  background-color: rgba(242, 165, 247, 0.6117647059);
  font-family: Verdana;
  font-style: italic;
  color: white;
  border-radius: 7px;
  padding-left: 5px;
  padding-top: 5px;
}

.btn-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  font-family: Verdana;
  background-color: red;
  color: white;
}
.btn-form:hover {
  background-color: white;
  color: red;
}

.form-text-box {
  height: 300px !important;
}

#footer {
  height: 18vh;
  background-color: red;
}
#footer .row .navbar {
  font-family: Verdana;
  color: white !important;
  border-radius: 7px;
  margin-top: 5px;
}
#footer .row #sub-foot {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 5px;
}

.nav-link {
  text-decoration: none;
  color: white !important;
  padding: 0;
  margin: 0;
}
.nav-link:hover {
  background-color: rgba(193, 196, 253, 0.566);
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  border-radius: 3px;
}

.logo-insta, .logo-whatsapp:hover, .logo-mail:hover, .logo-face:hover {
  height: 30px;
}
.logo-insta:hover, .logo-whatsapp:hover, .logo-mail:hover, .logo-face:hover {
  background-color: rgb(247, 115, 42);
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  border-radius: 3px;
}

.logo-face {
  height: 30px;
}
.logo-face:hover {
  background-color: rgb(12, 133, 233);
}

.logo-mail {
  height: 30px;
}
.logo-mail:hover {
  background-color: rgba(255, 255, 255, 0.74);
}

.logo-whatsapp {
  height: 30px;
}
.logo-whatsapp:hover {
  background-color: rgb(65, 196, 82);
  border-radius: 12px;
  scale: 1.25;
}

#go-up {
  width: 50px;
  height: 50px;
}

#go-up:hover {
  transform: rotate(-45deg);
  transition-delay: 0.2s;
  transition-duration: 1s;
}

/* // Small devices (landscape phones, 576px ) */
@media (min-width: 576px) {
  #header {
    height: 20vh;
  }
  .navbar-collapse-head {
    background-color: rgba(244, 79, 79, 0.653);
    border-radius: 5px;
  }
  #logo-head {
    text-align: center;
    margin-bottom: 2px;
    padding-top: 2px;
  }
  div > .form-control,
#buscar {
    height: 30px;
    justify-content: center;
  }
  .nav-link {
    font-size: 14px;
  }
  .carousel {
    width: 100%;
  }
  .card-img-top {
    min-height: 250px;
    max-height: 250px;
  }
  .form-contact {
    width: 400px;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-link {
    font-size: large;
  }
  .carousel {
    width: 100%;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #carrito {
    height: 45px !important;
  }
  #login {
    height: 45px !important;
  }
  .nav-link {
    font-size: larger;
  }
  .carousel {
    width: 80%;
  }
  .navbar-collapse-head {
    background-color: transparent;
  }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .carousel {
    width: 95%;
  }
}
/* // XX-Large devices (larger desktops, 1400px and up) *//*# sourceMappingURL=style.css.map */