* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

}

#header {
    height: 20vh;
    background-color: red;
    align-items: baseline;
}

#main {
    background: linear-gradient(354deg, rgba(255, 133, 133, 1) 0%, rgba(134, 137, 255, 1) 50%, rgba(255, 133, 133, 1) 100%);
}

#footer {
    height: 20vh;
    background-color: red;
}

#logo-head {
    text-align: center;
    margin-bottom: 2px;
}

#buscar {
    height: 35px;
}

#carrito {
    height: 35px;
    margin-left: 5px;
}

#login {
    height: 35px;
    margin-left: 5px;
}

#logo-foot {
    object-fit: cover;
}

#logo-insta {
    height: 35px;
}

#logo-face {
    height: 35px;
}

#logo-mail {
    height: 35px;
}

#logo-whatsapp {
    height: 35px;
}

#sub-foot {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    
}

#go-up {
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
}

.card-index {
    background-color: #ffffff82;
    margin: 2px;
}

.navbar {
    font-family: Verdana;
    color: white !important;
    z-index: 9;
    border-radius: 7px;
}

.input-group {
    width: 50%;
    align-items: center;
}

.nav-link {
    color: white !important;
    padding: 0;
    margin: 0;
}

.carousel {
    margin: auto;
    height: 475px;
}

.card-tienda {
    border: 4px dotted #f04d11;
    background-color: #ffffff9c;
}

.card-img-top {
    width: 80%;
    min-height: 300px;
    max-height: 300px;
}

.btn-tienda {
    font-family: verdana;
    color: #fff;
    background-color: #f04d11;
    border-color: #f04d11;
    border-radius: 5px;
}

.text-card {
    font-family: Verdana;
    font-size: large;
}

/* .carousel-inner {
    max-height: 20rem;
} */

.card-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.btn-index {
    color: #fff;
    background-color: transparent;
    border-color: #dc3545;
}
.btn-index:hover {
    color: #fff;
    background-color: red;
    border-color: #dc3545;
}

.box-sect {
    max-width: 20rem;
    margin: 5px 10px 5px 10px;
}


#footer>a>.nav-link {
    margin: 0;
    padding: 0;
}

#footer>div>.container {
    position: relative;
    bottom: 28px;
}

.card-img-top:hover {
    transform: scale(1.5);
    transition-delay: 0.25s;
    transition-duration: 1s;
}

#go-up:hover {
    transform: rotate(-45deg);
    transition-delay: 0.20s;
    transition-duration: 1s;
}

#logo-whatsapp:hover,
#logo-face:hover,
#logo-insta:hover,
#logo-mail:hover,
#buscar:hover,
#carrito:hover,
#login:hover,
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.578);
    transition-delay: 0.10s;
    transition-duration: 0.10s;
    border-radius: 3px;
}

/* @media (max-width: 576px) {
    #logo-head {
        text-align: center;
        margin-bottom: 5px;
    }
    div>.form-control , #buscar {
        height: 30px;
        justify-content: center;
    }
     .row {
        justify-content: center !important;
        
    }
    #footer > div > nav > {
        flex-direction: row !important;
    }
    
} */

/* // Small devices (landscape phones, 576px ) */
@media (min-width: 576px) {
    #header {
        height: 20vh;
    }

    #logo-head {
        text-align: center;
        margin-bottom: 2px;
    }

    div>.form-control,
    #buscar {
        height: 30px;
        justify-content: center;
    }

    .row {
        justify-content: center !important;

    }

    #footer {
        height: 13vh;
    }

    #foot-nav {
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    #footer>div>nav {
        flex-direction: row !important;
    }

    #footer>div>nav>a {
        text-align: center;
        margin: 2px;
    }

    div>.cont-logo-foot {
        display: none;
    }


    #sub-foot {
        margin-bottom: 5px;
    }
    .carousel {
        width: 100%;
    }
   
    .card-img-top {
        min-height: 250px;
        max-height: 250px;
    }

}

@media (min-width: 576px) and (max-width: 1200px) {
    #cont-logo-foot {
        display: none !important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #foot-nav {
        flex-direction: row;
        justify-content: center;
    }

    #footer>div>nav {
        flex-direction: row !important;
    }

    #footer {
        height: 13vh;
    }

    #header {
        height: 20vh;
    }
    .carousel {
        width: 100%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #footer {
        height: 13vh;
    }

    #header {
        height: 19vh;
    }
    .carousel {
        width: 60%;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #foot-nav {
        justify-content: start;
    }

    #header {
        height: 19vh;
    }
    #footer {
        height: 13vh;
    }

    .carousel {
        width: 60%;
    }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #header {
        height: 19vh;
    }
}