#header {
    height: 20vh;
    background-color: $color1_battaglia;
    align-items: baseline;

    #logo-head {
        text-align: center;
        margin-bottom: 2px;
    }

    .input-group {
        width: 50%;
        align-items: $item-center;
    }

    #carrito {
        height: map-get($map:$icon_head, $key: alto);
        margin-left: map-get($map:$icon_head, $key: m-Izq);

        &:hover {
            background-color: rgba(193, 196, 253, 0.566);
            @include hover-static;
        }
    }

    #login {
        height: map-get($map:$icon_head, $key: alto);
        margin-left: map-get($map:$icon_head, $key: m-Izq);

        &:hover {
            background-color: rgba(193, 196, 253, 0.566);
            @include hover-static;
            border-radius: 11px;
        }
    }
    .nav-link {
        color: white !important;
        padding: 0;
        margin: 5px;
    
        &:hover {
            background-color: rgba(193, 196, 253, 0.566);
            @include hover-static;
        }
    }

}

.navbar {
    font-family: Verdana;
    color: white !important;
    z-index: 9;
    border-radius: 7px;
}

#buscar {
    height: map-get($map:$icon_head, $key: alto);
    &:hover {
        background-color: rgba(193, 196, 253, 0.566);
        @include hover-static;
        }
    }
