.img-ctral {
    width: 400px;
    height: 350px;
    margin: 10px;
    background-color:$color1_battaglia;
    border: 0;
}
.text-hist {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.646);
    border-radius: 7px;
}