@import "./_variantes.scss";
@import "./_header_lb.scss";
@import "./_main_indx.scss";
@import "./main_tienda";
@import "./main_nuestra-historia";
@import "./main_donde-nos-encontras";
@import "./main_contacto";
@import "./_footer_lb.scss";


/* // Small devices (landscape phones, 576px ) */
@media (min-width: 576px) {
    #header {
        height: 20vh;
    }

    .navbar-collapse-head {
        background-color: rgba(244, 79, 79, 0.653);
        border-radius: 5px;
    }

    #logo-head {
        text-align: center;
        margin-bottom: 2px;
        padding-top: 2px;
    }

    div>.form-control,
    #buscar {
        height: 30px;
        justify-content: center;
    }

    .carousel {
        width: 100%;
    }

    .card-img-top {
        min-height: 250px;
        max-height: 250px;
    }

    .form-contact {
        width: 400px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .carousel {
        width: 100%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .carousel {
        width: 80%;
    }

    .navbar-collapse-head {
        background-color: transparent;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


    .carousel {
        width: 95%;
    }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
// @media (min-width: 1400px) {

// }